#content {
	height: 200px;
	overflow-y: auto;
}

.credibility {
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}

.row-buffer {
	margin-bottom: 20px;
}

.alert-fixed {
	position: fixed;
	width: 100%;
	text-align: center;
}
